@inject CurrentUserState CurrentUser
@inject NavigationManager Navigation
@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FacturasSRI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        
        <div class="nav-item px-3">
            <div class="nav-link text-white">
                <span class="bi bi-person-check-fill-nav-menu" aria-hidden="true"></span>
                <span>
                    <strong>@CurrentUser.Email</strong>
                    <small class="d-block">(@CurrentUser.Role)</small>
                </span>
            </div>
        </div>
         <div class="nav-item px-3">
             <button class="btn btn-link nav-link" @onclick="Logout">
                <span class="bi bi-box-arrow-left-nav-menu" aria-hidden="true"></span> Cerrar Sesión
             </button>
        </div>
        <hr class="bg-light" />

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @if (CurrentUser.Role == "Admin")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="gestion-productos">
                    <span class="bi bi-box-seam-nav-menu" aria-hidden="true"></span> Productos
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <div class="nav-section">
                    <small class="text-muted">INVENTARIO</small>
                </div>
                <NavLink class="nav-link" href="gestion-inventario">
                    <span class="bi bi-boxes-nav-menu" aria-hidden="true"></span> Lotes
                </NavLink>
                <NavLink class="nav-link" href="gestion-inventario/registrar-compra">
                    <span class="bi bi-plus-circle-fill-nav-menu" aria-hidden="true"></span> Registrar Compra
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    protected override void OnInitialized() => CurrentUser.OnChange += StateHasChanged;
    public void Dispose() => CurrentUser.OnChange -= StateHasChanged;

    private void Logout()
    {
        CurrentUser.Logout();
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}
