@page "/notfound"

<div class="text-center">
    <h1 class="display-1">404</h1>
    <p class="lead">Página no encontrada</p>
    <p>La página que buscas no existe.</p>
    <a href="/" class="btn btn-primary">Volver al Panel Principal</a>
</div>
