.nav-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--background-color);
}

.nav-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    flex-shrink: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--primary-dark);
    text-decoration: none;
}

.navbar-brand i {
    font-size: 1.5rem;
    color: var(--accent-color);
}

.nav-menu .nav {
    flex-grow: 1;
    padding: 1rem 0;
    overflow-x: hidden; 
}

.nav-item, .nav-section {
    padding: 0 1rem;
    margin-bottom: 0.25rem;
}

.nav-item ::deep .nav-link,
.nav-link-header {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    color: var(--text-color-light);
    font-weight: 500;
    transition: background-color 0.2s, color 0.2s;
    text-decoration: none;
}

.nav-link-header {
    cursor: pointer;
}

.nav-item ::deep .nav-link i,
.nav-link-header i {
    margin-right: 1rem;
    font-size: 1.125rem;
    width: 20px;
    text-align: center;
}

.nav-item ::deep .nav-link:hover,
.nav-link-header:hover {
    background-color: var(--primary-light);
    color: var(--primary-dark);
}

.nav-item ::deep .nav-link.active {
    background-color: var(--primary-dark);
    color: var(--white);
    font-weight: 600;
}

.nav-submenu {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0 0 0;
}

.nav-submenu li ::deep a {
    display: block;
    padding: 0.6rem 1rem 0.6rem calc(1rem + 20px + 1rem);
    
    color: var(--text-color-light);
    opacity: 0.85; 
    
    border-radius: 0.375rem;
    text-decoration: none;
    position: relative;
}

.nav-submenu ::deep a:hover {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    opacity: 1; 
}

.nav-submenu ::deep a.active {
    color: var(--primary-dark);
    font-weight: 700;
    background-color: var(--primary-light);
    opacity: 1; 
}

.nav-section:has(.nav-submenu ::deep a.active) > .nav-link-header {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-weight: 600;
}

.nav-footer {
    padding: 1rem;
    border-top: 1px solid var(--border-color);
    flex-shrink: 0;
}